* {
    box-sizing: border-box;
}

ul{
    list-style: none;
    padding-left: 0;
}

button {
    border: none;
    cursor: pointer;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 4rem;
}

header{
    font-size: 2rem;
    font-weight: bold;
}

main{
    margin-top: 1rem;
    width: 95%;
}

.sr-hidden{
    visibility: hidden;
}

.h-5{
    height: 1.25rem;
}

.w-5{
    width: 1.25rem;
}

.strike-through {
    text-decoration: line-through;
}

.new-task-container {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

#input-task{
    flex-grow: 1;
    margin-right: .5rem;
    padding: 0;
    border: solid transparent 0;
    border-bottom: solid lightgray .15rem;
    font-size: 1rem;
    font-weight: normal;
    color: dimgray;
}

#input-task:focus-visible{
    outline: none;
}

#add-task-button{
    padding: 0.4rem 0.5rem;
    font-weight: bold;
    color: white;
    background-color: rgba(128, 0, 128, .7);
    border-radius: 5px;
    cursor: pointer;
}

#add-task-button:disabled{
    background-color: rgba(128, 0, 128, .2);
    cursor: not-allowed;
}

.task-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .8rem;
}

.task-item > #task-complete{
    flex-grow: 0;
    flex-shrink: 0;
}

.task-item .task{
    flex-grow: 1;
    margin: 0 1rem;
}

.task-item .delete-btn{
    padding: 0;
    background-color: transparent;
    color: red;
}